*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body{
    
    text-align: center;
    color: gray;
    justify-content: center;
    
}
img{
    width: 50px;
    height: 50px;

}
.tête{
    transform: translate(0, 300px);
    
}
h1{
    
}
button{
    
}